$purple-color: #2c2c76;
$light-purple-color: #ececf2;

.user-auth {
  background-color: $light-purple-color;
  padding-bottom: 30px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  display: flex;

  .row {
    --bs-gutter-x: 0 !important;
  }
  .blue-bar {
    background-color: $purple-color;
    width: 100%;
    justify-content: center;
    .logo-container {
      display: flex;
      justify-content: center;

      .logo-image {
        width: 30%;
        height: 10% !important;
      }
    }
  }

  .title-text {
    justify-content: center;
    display: flex;
    padding-top: 20px;
    padding-bottom: 2px;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: "20px";
  }
  .subtitle-text {
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: "20px";
    color: #908f8f;
  }
}

.field {
  padding-top: 20px;
  //padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 100px;
}
.label{
  padding-left: 60px;
}

.signup-btn {
  align-items: flex-end;
  display: flex;
  justify-content: end;
  padding-top: 20px;
  padding-right: 50px;
}
.signup-link {
  margin-left: 5px;
}
